.innerContent {
  width: 100%;
  height: 90%;
}
.profileHeading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 0px 0px 8px;
  
}
.nameContainer {
  padding: 16px 0px 0px 0px;
  width: 100%;

}
.statisticsContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
 
}
.topFriendsContainer {
  padding: 0px 16px 16px 16px;
  margin-left: 23px;
  
}
.topFriendsList {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0px;
}
.topFriend {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 6px 1px;
  width: 30%;
  
}
.titleContainer {
  padding-right: 8px;
}
