.grid {
  display: grid;
  width: 100%;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
  grid-auto-rows: minmax(216px, auto);
  grid-auto-flow: dense;
  max-width: 1300px;
  justify-content: center;
  margin-left: 83px;
}
.gridItem {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  grid-column-end: 1;
  grid-row-end: 1;
}
